<div
    
     data-id="g174gxTx1s"
    role="presentation"
    class="gp-group/image g174gxTx1s"
    style="--bs:solid;--bw:0px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--op-mobile:100%;--bblr:6px;--bbrr:6px;--btlr:6px;--btrr:6px;--mb:0px;--mb-mobile:0px;--ta:center"
    >
      <div
        class="pointer-events-auto h-full gp-flex"
        
        class="gp-h-full gp-w-full"
        style="--shadow:none;border-radius:inherit;--jc:center"
      >
        
  <picture style="border-radius: inherit" class="gp-contents">
  
      <source media="(max-width: 767px)" srcset="{{ "gempages_542333615069987699-10954aea-df82-4141-b09d-2d259ad370da_768x.jpg" | file_url }}" />
      <source media="(max-width: 1024px)" srcset="{{ "gempages_542333615069987699-10954aea-df82-4141-b09d-2d259ad370da_1024x.jpg" | file_url }}" />
      <img
        
        class="gp-h-full gp-max-w-full gp-flex"
        src="{{ "gempages_542333615069987699-10954aea-df82-4141-b09d-2d259ad370da.jpg" | file_url }}"
        alt=""
        fetchpriority="high"
        style="--aspect:auto;--aspect-tablet:auto;--aspect-mobile:auto;--objf:cover;--w:100%;--w-tablet:100%;--w-mobile:100%;--h:auto;--h-tablet:auto;--h-mobile:auto"
      />
    
  </picture>
      </div>
  </div>
      <style id="custom-css-g174gxTx1s">
        .g174gxTx1s {

}
.g174gxTx1s > figure > img {

}
      </style>
    