

<style {% if section.settings.section_preload == "false" %} class="gps-link gps-style" type="text/disabled-css" {% endif %}>.gps-552827596963316677.gps.gpsil [style*="--bg:"]{background:var(--bg)}.gps-552827596963316677.gps.gpsil [style*="--bga:"]{background-attachment:var(--bga)}.gps-552827596963316677.gps.gpsil [style*="--bgc:"]{background-color:var(--bgc)}.gps-552827596963316677.gps.gpsil [style*="--bgi:"]{background-image:var(--bgi)}.gps-552827596963316677.gps.gpsil [style*="--bgp:"]{background-position:var(--bgp)}.gps-552827596963316677.gps.gpsil [style*="--bgr:"]{background-repeat:var(--bgr)}.gps-552827596963316677.gps.gpsil [style*="--bgs:"]{background-size:var(--bgs)}.gps-552827596963316677.gps.gpsil [style*="--b:"]{border:var(--b)}.gps-552827596963316677.gps.gpsil [style*="--bc:"]{border-color:var(--bc)}.gps-552827596963316677.gps.gpsil [style*="--bl:"]{border-left:var(--bl)}.gps-552827596963316677.gps.gpsil [style*="--bs:"]{border-style:var(--bs)}.gps-552827596963316677.gps.gpsil [style*="--bw:"]{border-width:var(--bw)}.gps-552827596963316677.gps.gpsil [style*="--shadow:"]{box-shadow:var(--shadow)}.gps-552827596963316677.gps.gpsil [style*="--c:"]{color:var(--c)}.gps-552827596963316677.gps.gpsil [style*="--cg:"]{-moz-column-gap:var(--cg);column-gap:var(--cg)}.gps-552827596963316677.gps.gpsil [style*="--ff:"]{font-family:var(--ff)}.gps-552827596963316677.gps.gpsil [style*="--size:"]{font-size:var(--size)}.gps-552827596963316677.gps.gpsil [style*="--weight:"]{font-weight:var(--weight)}.gps-552827596963316677.gps.gpsil [style*="--gtc:"]{grid-template-columns:var(--gtc)}.gps-552827596963316677.gps.gpsil [style*="--jc:"]{justify-content:var(--jc)}.gps-552827596963316677.gps.gpsil [style*="--lh:"]{line-height:var(--lh)}.gps-552827596963316677.gps.gpsil [style*="--m:"]{margin:var(--m)}.gps-552827596963316677.gps.gpsil [style*="--mb:"]{margin-bottom:var(--mb)}.gps-552827596963316677.gps.gpsil [style*="--op:"]{opacity:var(--op)}.gps-552827596963316677.gps.gpsil [style*="--o:"]{order:var(--o)}.gps-552827596963316677.gps.gpsil [style*="--pc:"]{place-content:var(--pc)}.gps-552827596963316677.gps.gpsil [style*="--p:"]{padding:var(--p)}.gps-552827596963316677.gps.gpsil [style*="--pb:"]{padding-bottom:var(--pb)}.gps-552827596963316677.gps.gpsil [style*="--pl:"]{padding-left:var(--pl)}.gps-552827596963316677.gps.gpsil [style*="--pr:"]{padding-right:var(--pr)}.gps-552827596963316677.gps.gpsil [style*="--pt:"]{padding-top:var(--pt)}.gps-552827596963316677.gps.gpsil [style*="--ta:"]{text-align:var(--ta)}.gps-552827596963316677.gps.gpsil [style*="--ts:"]{text-shadow:var(--ts)}.gps-552827596963316677.gps.gpsil [style*="--t:"]{transform:var(--t)}.gps-552827596963316677.gps.gpsil [style*="--w:"]{width:var(--w)}.gps-552827596963316677.gps.gpsil [style*="--line-clamp:"]{-webkit-box-orient:vertical;-webkit-line-clamp:var(--line-clamp);display:-webkit-box;overflow:hidden}@media only screen and (max-width:1024px){.gps-552827596963316677.gps.gpsil [style*="--size-tablet:"]{font-size:var(--size-tablet)}.gps-552827596963316677.gps.gpsil [style*="--lh-tablet:"]{line-height:var(--lh-tablet)}.gps-552827596963316677.gps.gpsil [style*="--pb-tablet:"]{padding-bottom:var(--pb-tablet)}.gps-552827596963316677.gps.gpsil [style*="--pl-tablet:"]{padding-left:var(--pl-tablet)}.gps-552827596963316677.gps.gpsil [style*="--pr-tablet:"]{padding-right:var(--pr-tablet)}.gps-552827596963316677.gps.gpsil [style*="--pt-tablet:"]{padding-top:var(--pt-tablet)}.gps-552827596963316677.gps.gpsil [style*="--w-tablet:"]{width:var(--w-tablet)}.gps-552827596963316677.gps.gpsil [style*="--line-clamp-tablet:"]{-webkit-box-orient:vertical;-webkit-line-clamp:var(--line-clamp-tablet);display:-webkit-box;overflow:hidden}}@media only screen and (max-width:767px){.gps-552827596963316677.gps.gpsil [style*="--size-mobile:"]{font-size:var(--size-mobile)}.gps-552827596963316677.gps.gpsil [style*="--gtc-mobile:"]{grid-template-columns:var(--gtc-mobile)}.gps-552827596963316677.gps.gpsil [style*="--lh-mobile:"]{line-height:var(--lh-mobile)}.gps-552827596963316677.gps.gpsil [style*="--mb-mobile:"]{margin-bottom:var(--mb-mobile)}.gps-552827596963316677.gps.gpsil [style*="--op-mobile:"]{opacity:var(--op-mobile)}.gps-552827596963316677.gps.gpsil [style*="--pb-mobile:"]{padding-bottom:var(--pb-mobile)}.gps-552827596963316677.gps.gpsil [style*="--pl-mobile:"]{padding-left:var(--pl-mobile)}.gps-552827596963316677.gps.gpsil [style*="--pr-mobile:"]{padding-right:var(--pr-mobile)}.gps-552827596963316677.gps.gpsil [style*="--pt-mobile:"]{padding-top:var(--pt-mobile)}.gps-552827596963316677.gps.gpsil [style*="--w-mobile:"]{width:var(--w-mobile)}.gps-552827596963316677.gps.gpsil [style*="--line-clamp-mobile:"]{-webkit-box-orient:vertical;-webkit-line-clamp:var(--line-clamp-mobile);display:-webkit-box;overflow:hidden}}.gps-552827596963316677 .gp-relative{position:relative}.gps-552827596963316677 .gp-mx-auto{margin-left:auto;margin-right:auto}.gps-552827596963316677 .gp-mb-0{margin-bottom:0}.gps-552827596963316677 .gp-flex{display:flex}.gps-552827596963316677 .gp-grid{display:grid}.gps-552827596963316677 .\!gp-hidden{display:none!important}.gps-552827596963316677 .gp-hidden{display:none}.gps-552827596963316677 .gp-max-w-full{max-width:100%}.gps-552827596963316677 .gp-flex-col{flex-direction:column}.gps-552827596963316677 .gp-gap-y-0{row-gap:0}.gps-552827596963316677 .gp-transition-colors{transition-duration:.15s;transition-property:color,background-color,border-color,text-decoration-color,fill,stroke;transition-timing-function:cubic-bezier(.4,0,.2,1)}.gps-552827596963316677 .gp-duration-200{transition-duration:.2s}.gps-552827596963316677 .gp-ease-in-out{transition-timing-function:cubic-bezier(.4,0,.2,1)}@media (max-width:1024px){.gps-552827596963316677 .tablet\:\!gp-hidden{display:none!important}.gps-552827596963316677 .tablet\:gp-hidden{display:none}}@media (max-width:767px){.gps-552827596963316677 .mobile\:\!gp-hidden{display:none!important}.gps-552827596963316677 .mobile\:gp-hidden{display:none}}.gps-552827596963316677 .\[\&_\*\]\:gp-max-w-full *{max-width:100%}.gps-552827596963316677 .\[\&_p\]\:gp-inline p{display:inline}.gps-552827596963316677 .\[\&_p\]\:after\:gp-whitespace-pre-wrap p:after{content:var(--tw-content);white-space:pre-wrap}.gps-552827596963316677 .\[\&_p\]\:after\:gp-content-\[\'\\A\'\] p:after{--tw-content:"\A";content:var(--tw-content)}</style>

       
      
            <section
              class="gp-mx-auto gp-max-w-full {% if section.settings.section_preload == "false" %}gps-lazy {% endif %}"
              style="--w:100%;--w-tablet:100%;--w-mobile:100%;--pl:0px;--pl-tablet:0px;--pl-mobile:0px;--pr:0px;--pr-tablet:0px;--pr-mobile:0px"
            >
              
    <div
      enableLazyloadImage="true" id="gj1Jvd-YEr" data-id="gj1Jvd-YEr"
        style="--blockPadding:base;--pt:0px;--pb:auto;--d:grid;--d-tablet:grid;--d-mobile:grid;--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--op:100%;--cg:32px;--pc:start;--gtc:minmax(0, 12fr);--w:100%;--w-tablet:100%;--w-mobile:100%;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="gj1Jvd-YEr gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-gap-y-0 gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full"
    >
    <div
      enableLazyloadImage="true" tag="Col" label="Block" type="component"
      style="--jc:start"
      class="gURXgxuK1b gp-relative gp-flex gp-flex-col"
    >
      
       
      
    <div
      enableLazyloadImage="true" parentTag="Col" id="gcvPbSExSb" data-id="gcvPbSExSb"
        style="--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--op-mobile:100%;--mb:40px;--pt:0px;--pl:20px;--pb:0px;--pr:20px;--mb-mobile:20px;--pt-mobile:0px;--pb-mobile:0px;--cg:8px;--pc:start;--gtc:minmax(0, 12fr);--w:100%;--w-tablet:var(--g-ct-w, 100%);--w-mobile:var(--g-ct-w, 100%);--bgc:#b22222;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="gcvPbSExSb gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-gap-y-0 gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full"
    >
    <div
      enableLazyloadImage="true" label="Block" tag="Col" type="component"
      style="--jc:start"
      class="gmMfHfyITp gp-relative gp-flex gp-flex-col"
    >
      
       
      
    <div
      enableLazyloadImage="true" parentTag="Col" id="gM4rb6huQV" data-id="gM4rb6huQV"
        style="--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--cg:8px;--pc:start;--gtc:minmax(0, 12fr);--gtc-mobile:minmax(0, 12fr);--w:var(--g-ct-w, 1200px);--w-tablet:var(--g-ct-w, 100%);--w-mobile:var(--g-ct-w, 100%);--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="gM4rb6huQV gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-gap-y-0 gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full"
    >
    <div
      enableLazyloadImage="true" label="Block" tag="Col" type="component"
      style="--jc:start"
      class="gpRM4gfM32 gp-relative gp-flex gp-flex-col"
    >
      
  {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
  <gp-text data-id="gETdO1TvA4">
    <div
      enableLazyloadImage="true" parentTag="Col"
        class="gETdO1TvA4 "
        style="--ta:left;--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--mb-mobile:0px;--pb-mobile:0px"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ts:none;--ta:center;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--ff:var(--g-font-sans-serif, 'sans-serif'), var(--g-font-body, body);--size:21px;--size-tablet:18px;--size-mobile:16px;--lh:120%;--lh-tablet:120%;--lh-mobile:130%;--weight:bold;--c:#FFFFFF;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;--pl:16px;--pr:16px;--pt:16px;--pb:16px;--pl-tablet:16px;--pr-tablet:16px;--pt-tablet:16px;--pb-tablet:16px;overflow:hidden"
        >{{ section.settings.ggETdO1TvA4_text | replace: '$locationOrigin', locationOrigin }}</div>
      </div>
    </div>
    </gp-text>
    
    </div>
    </div>
   
    
    </div>
    </div>
   
    
    </div>
    </div>
  
            </section>
           
    


{% schema %}
  {
    
    "name": "Section 2",
    "tag": "section",
    "class": "gps-552827596963316677 gps gpsil",
    "settings": [{"type":"paragraph","content":"Section design by GemPages. [Click here to start design](https://admin.shopify.com/store/09c241-13/apps/gempages-cro/app/shopify/edit?pageType=GP_STATIC&editorId=552827596878906309&sectionId=552827596963316677)"},{"type":"select","label":"Section Preload","id":"section_preload","options":[{"label":"On","value":"true"},{"label":"Off","value":"false"},{"label":"Off Lazy Script","value":"off_lazy_script"}],"default":"false"},{"type":"text","label":"Checksum","id":"checksum"},{"type":"html","id":"ggETdO1TvA4_text","label":"ggETdO1TvA4_text","default":"<p>💖 <strong>Final Hours: Gone by Tomorrow 💖 Pick Up in Richmond</strong>&nbsp;</p>"}],
    "blocks": [{"type": "@app"}],
    "locales": {}
  }
{% endschema %}
