

<style {% if section.settings.section_preload == "false" %} class="gps-link gps-style" type="text/disabled-css" {% endif %}>.gps-546335528509834062.gps.gpsil [style*="--bg:"]{background:var(--bg)}.gps-546335528509834062.gps.gpsil [style*="--hvr-bg:"]:hover{background:var(--hvr-bg)}.gps-546335528509834062.gps.gpsil [style*="--bga:"]{background-attachment:var(--bga)}.gps-546335528509834062.gps.gpsil [style*="--bgc:"]{background-color:var(--bgc)}.gps-546335528509834062.gps.gpsil [style*="--bgi:"]{background-image:var(--bgi)}.gps-546335528509834062.gps.gpsil [style*="--bgp:"]{background-position:var(--bgp)}.gps-546335528509834062.gps.gpsil [style*="--bgr:"]{background-repeat:var(--bgr)}.gps-546335528509834062.gps.gpsil [style*="--bgs:"]{background-size:var(--bgs)}.gps-546335528509834062.gps.gpsil [style*="--b:"]{border:var(--b)}.gps-546335528509834062.gps.gpsil [style*="--hvr-b:"]:hover{border:var(--hvr-b)}.gps-546335528509834062.gps.gpsil [style*="--bb:"]{border-bottom:var(--bb)}.gps-546335528509834062.gps.gpsil [style*="--bc:"]{border-color:var(--bc)}.gps-546335528509834062.gps.gpsil [style*="--bblr:"]{border-bottom-left-radius:var(--bblr)}.gps-546335528509834062.gps.gpsil [style*="--bbrr:"]{border-bottom-right-radius:var(--bbrr)}.gps-546335528509834062.gps.gpsil [style*="--bs:"]{border-style:var(--bs)}.gps-546335528509834062.gps.gpsil [style*="--bt:"]{border-top:var(--bt)}.gps-546335528509834062.gps.gpsil [style*="--btlr:"]{border-top-left-radius:var(--btlr)}.gps-546335528509834062.gps.gpsil [style*="--btrr:"]{border-top-right-radius:var(--btrr)}.gps-546335528509834062.gps.gpsil [style*="--bw:"]{border-width:var(--bw)}.gps-546335528509834062.gps.gpsil [style*="--bottom:"]{bottom:var(--bottom)}.gps-546335528509834062.gps.gpsil [style*="--shadow:"]{box-shadow:var(--shadow)}.gps-546335528509834062.gps.gpsil [style*="--c:"]{color:var(--c)}.gps-546335528509834062.gps.gpsil [style*="--ff:"]{font-family:var(--ff)}.gps-546335528509834062.gps.gpsil [style*="--size:"]{font-size:var(--size)}.gps-546335528509834062.gps.gpsil [style*="--weight:"]{font-weight:var(--weight)}.gps-546335528509834062.gps.gpsil [style*="--fs:"]{font-style:var(--fs)}.gps-546335528509834062.gps.gpsil [style*="--h:"]{height:var(--h)}.gps-546335528509834062.gps.gpsil [style*="--left:"]{left:var(--left)}.gps-546335528509834062.gps.gpsil [style*="--ls:"]{letter-spacing:var(--ls)}.gps-546335528509834062.gps.gpsil [style*="--lh:"]{line-height:var(--lh)}.gps-546335528509834062.gps.gpsil [style*="--m:"]{margin:var(--m)}.gps-546335528509834062.gps.gpsil [style*="--mb:"]{margin-bottom:var(--mb)}.gps-546335528509834062.gps.gpsil [style*="--mr:"]{margin-right:var(--mr)}.gps-546335528509834062.gps.gpsil [style*="--op:"]{opacity:var(--op)}.gps-546335528509834062.gps.gpsil [style*="--o:"]{order:var(--o)}.gps-546335528509834062.gps.gpsil [style*="--p:"]{padding:var(--p)}.gps-546335528509834062.gps.gpsil [style*="--pb:"]{padding-bottom:var(--pb)}.gps-546335528509834062.gps.gpsil [style*="--pl:"]{padding-left:var(--pl)}.gps-546335528509834062.gps.gpsil [style*="--pr:"]{padding-right:var(--pr)}.gps-546335528509834062.gps.gpsil [style*="--pt:"]{padding-top:var(--pt)}.gps-546335528509834062.gps.gpsil [style*="--pos:"]{position:var(--pos)}.gps-546335528509834062.gps.gpsil [style*="--ta:"]{text-align:var(--ta)}.gps-546335528509834062.gps.gpsil [style*="--top:"]{top:var(--top)}.gps-546335528509834062.gps.gpsil [style*="--t:"]{transform:var(--t)}.gps-546335528509834062.gps.gpsil [style*="--w:"]{width:var(--w)}@media only screen and (max-width:1024px){.gps-546335528509834062.gps.gpsil [style*="--bottom-tablet:"]{bottom:var(--bottom-tablet)}.gps-546335528509834062.gps.gpsil [style*="--size-tablet:"]{font-size:var(--size-tablet)}.gps-546335528509834062.gps.gpsil [style*="--h-tablet:"]{height:var(--h-tablet)}.gps-546335528509834062.gps.gpsil [style*="--left-tablet:"]{left:var(--left-tablet)}.gps-546335528509834062.gps.gpsil [style*="--lh-tablet:"]{line-height:var(--lh-tablet)}.gps-546335528509834062.gps.gpsil [style*="--pos-tablet:"]{position:var(--pos-tablet)}.gps-546335528509834062.gps.gpsil [style*="--top-tablet:"]{top:var(--top-tablet)}.gps-546335528509834062.gps.gpsil [style*="--t-tablet:"]{transform:var(--t-tablet)}.gps-546335528509834062.gps.gpsil [style*="--w-tablet:"]{width:var(--w-tablet)}}@media only screen and (max-width:767px){.gps-546335528509834062.gps.gpsil [style*="--bottom-mobile:"]{bottom:var(--bottom-mobile)}.gps-546335528509834062.gps.gpsil [style*="--size-mobile:"]{font-size:var(--size-mobile)}.gps-546335528509834062.gps.gpsil [style*="--h-mobile:"]{height:var(--h-mobile)}.gps-546335528509834062.gps.gpsil [style*="--left-mobile:"]{left:var(--left-mobile)}.gps-546335528509834062.gps.gpsil [style*="--lh-mobile:"]{line-height:var(--lh-mobile)}.gps-546335528509834062.gps.gpsil [style*="--mb-mobile:"]{margin-bottom:var(--mb-mobile)}.gps-546335528509834062.gps.gpsil [style*="--mr-mobile:"]{margin-right:var(--mr-mobile)}.gps-546335528509834062.gps.gpsil [style*="--op-mobile:"]{opacity:var(--op-mobile)}.gps-546335528509834062.gps.gpsil [style*="--pb-mobile:"]{padding-bottom:var(--pb-mobile)}.gps-546335528509834062.gps.gpsil [style*="--pl-mobile:"]{padding-left:var(--pl-mobile)}.gps-546335528509834062.gps.gpsil [style*="--pr-mobile:"]{padding-right:var(--pr-mobile)}.gps-546335528509834062.gps.gpsil [style*="--pt-mobile:"]{padding-top:var(--pt-mobile)}.gps-546335528509834062.gps.gpsil [style*="--pos-mobile:"]{position:var(--pos-mobile)}.gps-546335528509834062.gps.gpsil [style*="--top-mobile:"]{top:var(--top-mobile)}.gps-546335528509834062.gps.gpsil [style*="--t-mobile:"]{transform:var(--t-mobile)}.gps-546335528509834062.gps.gpsil [style*="--w-mobile:"]{width:var(--w-mobile)}}.gps-546335528509834062 .\!gp-pointer-events-none{pointer-events:none!important}.gps-546335528509834062 .gp-relative{position:relative}.gps-546335528509834062 .gp-sticky{position:sticky}.gps-546335528509834062 .gp-z-1{z-index:1}.gps-546335528509834062 .gp-flex{display:flex}.gps-546335528509834062 .gp-inline-flex{display:inline-flex}.gps-546335528509834062 .\!gp-hidden{display:none!important}.gps-546335528509834062 .gp-hidden{display:none}.gps-546335528509834062 .gp-h-full{height:100%}.gps-546335528509834062 .gp-max-w-full{max-width:100%}.gps-546335528509834062 .gp-shrink-0{flex-shrink:0}.gps-546335528509834062 .gp-flex-col{flex-direction:column}.gps-546335528509834062 .gp-items-center{align-items:center}.gps-546335528509834062 .gp-justify-center{justify-content:center}.gps-546335528509834062 .gp-overflow-hidden{overflow:hidden}.gps-546335528509834062 .gp-break-words{overflow-wrap:break-word}.gps-546335528509834062 .gp-rounded-none{border-radius:0}.gps-546335528509834062 .gp-text-center{text-align:center}.gps-546335528509834062 .gp-text-g-text-3{color:var(--g-c-text-3)}.gps-546335528509834062 .gp-no-underline{text-decoration-line:none}.gps-546335528509834062 .gp-transition-colors{transition-duration:.15s;transition-property:color,background-color,border-color,text-decoration-color,fill,stroke;transition-timing-function:cubic-bezier(.4,0,.2,1)}.gps-546335528509834062 .gp-duration-300{transition-duration:.3s}.gps-546335528509834062 .disabled\:gp-btn-disabled:disabled{cursor:default}.gps-546335528509834062 .disabled\:gp-pointer-events-none:disabled{pointer-events:none}.gps-546335528509834062 .disabled\:gp-opacity-30:disabled{opacity:.3}.gps-546335528509834062 .gp-group[data-state=loading] .group-data-\[state\=loading\]\:gp-invisible{visibility:hidden}@media (max-width:1024px){.gps-546335528509834062 .tablet\:\!gp-hidden{display:none!important}.gps-546335528509834062 .tablet\:gp-hidden{display:none}}@media (max-width:767px){.gps-546335528509834062 .mobile\:\!gp-hidden{display:none!important}.gps-546335528509834062 .mobile\:gp-hidden{display:none}}.gps-546335528509834062 .\[\&\>svg\]\:\!gp-h-\[var\(--height-desktop\)\]>svg{height:var(--height-desktop)!important}.gps-546335528509834062 .\[\&\>svg\]\:\!gp-w-auto>svg{width:auto!important}@media (max-width:1024px){.gps-546335528509834062 .tablet\:\[\&\>svg\]\:\!gp-h-\[var\(--height-tablet\)\]>svg{height:var(--height-tablet)!important}}@media (max-width:767px){.gps-546335528509834062 .mobile\:\[\&\>svg\]\:\!gp-h-\[var\(--height-mobile\)\]>svg{height:var(--height-mobile)!important}}.gps-546335528509834062 .\[\&_gp-button_a\]\:\!gp-pointer-events-auto gp-button a{pointer-events:auto!important}.gps-546335528509834062 .\[\&_p\]\:gp-whitespace-pre-line p{white-space:pre-line}</style>

    
    <gp-sticky
    data-id="gIR7MDH5QI"
      gp-data='{"uid":"gIR7MDH5QI","setting":{"display":{"desktop":"after-first-cart-button"}},"advanced":{"d":{"desktop":true,"mobile":true,"tablet":true}}}'
      id="gIR7MDH5QI"
      data-id="gIR7MDH5QI"
      class="gIR7MDH5QI {% if section.settings.section_preload == "false" %}gps-lazy {% endif %}  !gp-pointer-events-none [&_gp-button_a]:!gp-pointer-events-auto"
      style="margin:0 auto;--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:none;--d-mobile:none;--d-tablet:none;--op:100%;--op-mobile:100%;--mb:0px;--pb:0px;--w:96%;--w-tablet:100%;--w-mobile:100%;--bgc:#00000000;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;--top:auto;--bottom:0;--pos:fixed;--top-tablet:auto;--bottom-tablet:0;--pos-tablet:fixed;--top-mobile:auto;--bottom-mobile:0;--pos-mobile:fixed;--left:50%;--t:translateX(-50%);--left-tablet:50%;--t-tablet:translateX(-50%);--left-mobile:50%;--t-mobile:translateX(-50%);z-index:100000"
    >
      <div >
        <div
      enableLazyloadImage="true"
      
      class="gh-fbKktT3 gp-relative gp-flex gp-flex-col"
    >
      
  <gp-button >
  <div
    style="--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--op-mobile:100%;--mb:var(--g-s-m);--mb-mobile:var(--g-s-xl);--mr-mobile:0px;--pb-mobile:0px;--pr-mobile:15px;--ta:right"
    
  >
    <style>
    .g-g67fjh7l.gp-button-base::before {
      content: "";
      height: 100%;
      width: 100%;
      position: absolute;
      pointer-events: none;
      border-style: solid;
  border-width: 1px 1px 1px 1px;
  border-color: #ffffff;
  
      
      border-bottom-left-radius: 6px;
      border-bottom-right-radius: 6px;
      border-top-left-radius: 6px;
      border-top-right-radius: 6px;
      
    }

    .g-g67fjh7l:hover::before {
      
      
    }

    .g-g67fjh7l:hover .gp-button-icon {
      color: undefined;
    }

     .g-g67fjh7l .gp-button-icon {
      color: var(--g-c-text-3, text-3);
    }

    .g-g67fjh7l:hover .gp-button-price {
      color: undefined;
    }

    .g-g67fjh7l .gp-button-price {
      color: var(--g-c-text-3, text-3);
    }

    .g-g67fjh7l .gp-product-dot-price {
       color: var(--g-c-text-3, text-3);
    }

    .g-g67fjh7l:hover .gp-product-dot-price {
      color: undefined;
    }
  </style>
    <a
      href="{{ request.origin }}{{ routes.root_url | split: '/' | join: '/' }}/products/1-carat-lab-grown-diamond-solitaire-ring-last-minute-gift-offer-canada" target="_self" data-id="g-g67fjh7l" aria-label
      
      data-state="idle"
      class="g-g67fjh7l gp-button-base gp-rounded-none gp-max-w-full gp-relative gp-group gp-inline-flex gp-items-center gp-justify-center gp-no-underline gp-transition-colors gp-duration-300 disabled:gp-btn-disabled disabled:gp-opacity-30 disabled:gp-pointer-events-none gp-text-g-text-3 gp-text-center"
      style="--hvr-bg:#07829F;--bg:#07829F;--bblr:6px;--bbrr:6px;--btlr:6px;--btrr:6px;--shadow:none;--w:Auto;--w-tablet:Auto;--w-mobile:Auto;--h:Auto;--h-tablet:Auto;--h-mobile:Auto;--pl:12px;--pr:12px;--pt:12px;--pb:12px;--pl-mobile:11px;--pr-mobile:11px;--pt-mobile:11px;--pb-mobile:11px;--c:var(--g-c-text-3, text-3);--size:24px;--size-tablet:14px;--size-mobile:14px;--fs:normal;--ff:var(--g-font-body, body);--weight:400;--ls:0.6px;--lh:140%;--lh-tablet:140%;--lh-mobile:140%"
    >
      
    <div
    class="gp-inline-flex">
    <span
        class="gp-inline-flex gp-button-icon gp-transition-colors gp-duration-300 gp-shrink-0 gp-items-center gp-justify-center group-data-[state=loading]:gp-invisible gp-z-1 [&>svg]:!gp-h-[var(--height-desktop)] [&>svg]:!gp-w-auto tablet:[&>svg]:!gp-h-[var(--height-tablet)] mobile:[&>svg]:!gp-h-[var(--height-mobile)]"
        style="--height-desktop:1em;--height-tablet:1em;--height-mobile:1em"
      ><svg height="20" width="20" xmlns="http://www.w3.org/2000/svg"  viewBox="0 0 256 256" fill="currentColor" data-id="508817554946326888">
              <path fill="currentColor" strokeLinecap="round" strokeLinejoin="round" fill="currentColor" d="M208.49,120.49a12,12,0,0,1-17,0L140,69V216a12,12,0,0,1-24,0V69L64.49,120.49a12,12,0,0,1-17-17l72-72a12,12,0,0,1,17,0l72,72A12,12,0,0,1,208.49,120.49Z" /></svg></span>
      <span
        data-gp-text
        class="gp-button-text-only gp-break-words group-data-[state=loading]:gp-invisible [&_p]:gp-whitespace-pre-line gp-z-1 gp-h-full gp-flex gp-items-center gp-overflow-hidden 
        "
        style="--size:24px;--size-tablet:14px;--size-mobile:14px"
      >
        
      </span>
      </div>
    
    </a>
  </div>
  </gp-button>

    </div>
      </div>
    </gp-sticky>
    <script {% if section.settings.section_preload == "false" %}class="gps-link" delay {% else %}src{% endif %}="https://d2ls1pfffhvy22.cloudfront.net/assets-v2/gp-sticky.js?v={{ shop.metafields.GEMPAGES.ASSETS_VERSION }}" defer="defer"></script>
  


{% schema %}
  {
    
    "name": "Section 1",
    "tag": "section",
    "class": "gps-546335528509834062 gps gpsil",
    "settings": [{"type":"paragraph","content":"Section design by GemPages. [Click here to start design](https://admin.shopify.com/store/09c241-13/apps/gempages-cro/app/shopify/edit?pageType=GP_STATIC&editorId=546335528425882446&sectionId=546335528509834062)"},{"type":"select","label":"Section Preload","id":"section_preload","options":[{"label":"On","value":"true"},{"label":"Off","value":"false"},{"label":"Off Lazy Script","value":"off_lazy_script"}],"default":"false"},{"type":"text","label":"Checksum","id":"checksum"}],
    "blocks": [{"type": "@app"}],
    "locales": {}
  }
{% endschema %}
