

<style {% if section.settings.section_preload == "false" %} class="gps-link gps-style" type="text/disabled-css" {% endif %}>.gps-542460860103197555.gps.gpsil [style*="--bg:"]{background:var(--bg)}.gps-542460860103197555.gps.gpsil [style*="--bga:"]{background-attachment:var(--bga)}.gps-542460860103197555.gps.gpsil [style*="--bgc:"]{background-color:var(--bgc)}.gps-542460860103197555.gps.gpsil [style*="--bgi:"]{background-image:var(--bgi)}.gps-542460860103197555.gps.gpsil [style*="--bgp:"]{background-position:var(--bgp)}.gps-542460860103197555.gps.gpsil [style*="--bgr:"]{background-repeat:var(--bgr)}.gps-542460860103197555.gps.gpsil [style*="--bgs:"]{background-size:var(--bgs)}.gps-542460860103197555.gps.gpsil [style*="--b:"]{border:var(--b)}.gps-542460860103197555.gps.gpsil [style*="--bc:"]{border-color:var(--bc)}.gps-542460860103197555.gps.gpsil [style*="--bl:"]{border-left:var(--bl)}.gps-542460860103197555.gps.gpsil [style*="--bs:"]{border-style:var(--bs)}.gps-542460860103197555.gps.gpsil [style*="--bw:"]{border-width:var(--bw)}.gps-542460860103197555.gps.gpsil [style*="--shadow:"]{box-shadow:var(--shadow)}.gps-542460860103197555.gps.gpsil [style*="--c:"]{color:var(--c)}.gps-542460860103197555.gps.gpsil [style*="--cg:"]{-moz-column-gap:var(--cg);column-gap:var(--cg)}.gps-542460860103197555.gps.gpsil [style*="--ff:"]{font-family:var(--ff)}.gps-542460860103197555.gps.gpsil [style*="--size:"]{font-size:var(--size)}.gps-542460860103197555.gps.gpsil [style*="--weight:"]{font-weight:var(--weight)}.gps-542460860103197555.gps.gpsil [style*="--gtc:"]{grid-template-columns:var(--gtc)}.gps-542460860103197555.gps.gpsil [style*="--jc:"]{justify-content:var(--jc)}.gps-542460860103197555.gps.gpsil [style*="--ls:"]{letter-spacing:var(--ls)}.gps-542460860103197555.gps.gpsil [style*="--lh:"]{line-height:var(--lh)}.gps-542460860103197555.gps.gpsil [style*="--m:"]{margin:var(--m)}.gps-542460860103197555.gps.gpsil [style*="--mb:"]{margin-bottom:var(--mb)}.gps-542460860103197555.gps.gpsil [style*="--ml:"]{margin-left:var(--ml)}.gps-542460860103197555.gps.gpsil [style*="--mr:"]{margin-right:var(--mr)}.gps-542460860103197555.gps.gpsil [style*="--mt:"]{margin-top:var(--mt)}.gps-542460860103197555.gps.gpsil [style*="--op:"]{opacity:var(--op)}.gps-542460860103197555.gps.gpsil [style*="--o:"]{order:var(--o)}.gps-542460860103197555.gps.gpsil [style*="--pc:"]{place-content:var(--pc)}.gps-542460860103197555.gps.gpsil [style*="--p:"]{padding:var(--p)}.gps-542460860103197555.gps.gpsil [style*="--pb:"]{padding-bottom:var(--pb)}.gps-542460860103197555.gps.gpsil [style*="--pl:"]{padding-left:var(--pl)}.gps-542460860103197555.gps.gpsil [style*="--pr:"]{padding-right:var(--pr)}.gps-542460860103197555.gps.gpsil [style*="--pt:"]{padding-top:var(--pt)}.gps-542460860103197555.gps.gpsil [style*="--ta:"]{text-align:var(--ta)}.gps-542460860103197555.gps.gpsil [style*="--ts:"]{text-shadow:var(--ts)}.gps-542460860103197555.gps.gpsil [style*="--t:"]{transform:var(--t)}.gps-542460860103197555.gps.gpsil [style*="--w:"]{width:var(--w)}.gps-542460860103197555.gps.gpsil [style*="--line-clamp:"]{-webkit-box-orient:vertical;-webkit-line-clamp:var(--line-clamp);display:-webkit-box;overflow:hidden}@media only screen and (max-width:1024px){.gps-542460860103197555.gps.gpsil [style*="--size-tablet:"]{font-size:var(--size-tablet)}.gps-542460860103197555.gps.gpsil [style*="--lh-tablet:"]{line-height:var(--lh-tablet)}.gps-542460860103197555.gps.gpsil [style*="--mb-tablet:"]{margin-bottom:var(--mb-tablet)}.gps-542460860103197555.gps.gpsil [style*="--op-tablet:"]{opacity:var(--op-tablet)}.gps-542460860103197555.gps.gpsil [style*="--pb-tablet:"]{padding-bottom:var(--pb-tablet)}.gps-542460860103197555.gps.gpsil [style*="--pl-tablet:"]{padding-left:var(--pl-tablet)}.gps-542460860103197555.gps.gpsil [style*="--pr-tablet:"]{padding-right:var(--pr-tablet)}.gps-542460860103197555.gps.gpsil [style*="--pt-tablet:"]{padding-top:var(--pt-tablet)}.gps-542460860103197555.gps.gpsil [style*="--w-tablet:"]{width:var(--w-tablet)}.gps-542460860103197555.gps.gpsil [style*="--line-clamp-tablet:"]{-webkit-box-orient:vertical;-webkit-line-clamp:var(--line-clamp-tablet);display:-webkit-box;overflow:hidden}}@media only screen and (max-width:767px){.gps-542460860103197555.gps.gpsil [style*="--size-mobile:"]{font-size:var(--size-mobile)}.gps-542460860103197555.gps.gpsil [style*="--lh-mobile:"]{line-height:var(--lh-mobile)}.gps-542460860103197555.gps.gpsil [style*="--mb-mobile:"]{margin-bottom:var(--mb-mobile)}.gps-542460860103197555.gps.gpsil [style*="--ml-mobile:"]{margin-left:var(--ml-mobile)}.gps-542460860103197555.gps.gpsil [style*="--mr-mobile:"]{margin-right:var(--mr-mobile)}.gps-542460860103197555.gps.gpsil [style*="--mt-mobile:"]{margin-top:var(--mt-mobile)}.gps-542460860103197555.gps.gpsil [style*="--op-mobile:"]{opacity:var(--op-mobile)}.gps-542460860103197555.gps.gpsil [style*="--pb-mobile:"]{padding-bottom:var(--pb-mobile)}.gps-542460860103197555.gps.gpsil [style*="--pl-mobile:"]{padding-left:var(--pl-mobile)}.gps-542460860103197555.gps.gpsil [style*="--pr-mobile:"]{padding-right:var(--pr-mobile)}.gps-542460860103197555.gps.gpsil [style*="--pt-mobile:"]{padding-top:var(--pt-mobile)}.gps-542460860103197555.gps.gpsil [style*="--w-mobile:"]{width:var(--w-mobile)}.gps-542460860103197555.gps.gpsil [style*="--line-clamp-mobile:"]{-webkit-box-orient:vertical;-webkit-line-clamp:var(--line-clamp-mobile);display:-webkit-box;overflow:hidden}}.gps-542460860103197555 .gp-relative{position:relative}.gps-542460860103197555 .gp-mx-auto{margin-left:auto;margin-right:auto}.gps-542460860103197555 .gp-mb-0{margin-bottom:0}.gps-542460860103197555 .gp-flex{display:flex}.gps-542460860103197555 .gp-grid{display:grid}.gps-542460860103197555 .\!gp-hidden{display:none!important}.gps-542460860103197555 .gp-hidden{display:none}.gps-542460860103197555 .gp-max-w-full{max-width:100%}.gps-542460860103197555 .gp-flex-col{flex-direction:column}.gps-542460860103197555 .gp-gap-y-0{row-gap:0}.gps-542460860103197555 .gp-transition-colors{transition-duration:.15s;transition-property:color,background-color,border-color,text-decoration-color,fill,stroke;transition-timing-function:cubic-bezier(.4,0,.2,1)}.gps-542460860103197555 .gp-duration-200{transition-duration:.2s}.gps-542460860103197555 .gp-ease-in-out{transition-timing-function:cubic-bezier(.4,0,.2,1)}@media (max-width:1024px){.gps-542460860103197555 .tablet\:\!gp-hidden{display:none!important}.gps-542460860103197555 .tablet\:gp-hidden{display:none}}@media (max-width:767px){.gps-542460860103197555 .mobile\:\!gp-hidden{display:none!important}.gps-542460860103197555 .mobile\:gp-hidden{display:none}}.gps-542460860103197555 .\[\&_\*\]\:gp-max-w-full *{max-width:100%}.gps-542460860103197555 .\[\&_p\]\:gp-inline p{display:inline}.gps-542460860103197555 .\[\&_p\]\:after\:gp-whitespace-pre-wrap p:after{content:var(--tw-content);white-space:pre-wrap}.gps-542460860103197555 .\[\&_p\]\:after\:gp-content-\[\'\\A\'\] p:after{--tw-content:"\A";content:var(--tw-content)}</style>

       
      
            <section
              class="gp-mx-auto gp-max-w-full {% if section.settings.section_preload == "false" %}gps-lazy {% endif %}"
              style="--w:100%;--w-tablet:100%;--w-mobile:100%;--pl:0px;--pl-tablet:0px;--pl-mobile:0px;--pr:0px;--pr-tablet:0px;--pr-mobile:0px"
            >
              
    <div
      enableLazyloadImage="true" id="g6-ZHsswkb" data-id="g6-ZHsswkb"
        style="--blockPadding:base;--bs:solid;--bw:0px;--bc:#121212;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--op-mobile:100%;--op-tablet:100%;--pt:var(--g-s-3xl);--pl:30px;--pb:48px;--pr:30px;--pt-mobile:28px;--pl-mobile:20px;--pb-mobile:28px;--pr-mobile:20px;--cg:32px;--pc:start;--gtc:minmax(0, 12fr);--w:100%;--w-tablet:100%;--w-mobile:100%;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="g6-ZHsswkb gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-gap-y-0 gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full"
    >
    <div
      enableLazyloadImage="true" label="Block" tag="Col" type="component"
      style="--jc:start"
      class="gNOSgkEWsQ gp-relative gp-flex gp-flex-col"
    >
      
       
      
    <div
      enableLazyloadImage="true" parentTag="Col" id="gs47ijmPjL" data-id="gs47ijmPjL"
        style="--bs:solid;--bw:0px;--bc:#121212;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--op-mobile:100%;--op-tablet:100%;--mb:0px;--pt:0px;--pl:0px;--pb:0px;--pr:0px;--mt-mobile:0px;--ml-mobile:auto;--mb-mobile:0px;--mr-mobile:auto;--pt-mobile:0px;--pl-mobile:0px;--pb-mobile:0px;--pr-mobile:0px;--mb-tablet:0px;--pt-tablet:0px;--pl-tablet:0px;--pb-tablet:0px;--pr-tablet:0px;--cg:8px;--pc:center;--gtc:minmax(0, auto);--w:var(--g-ct-w, 1200px);--w-tablet:var(--g-ct-w, 100%);--w-mobile:var(--g-ct-w, 100%);--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="gs47ijmPjL gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-gap-y-0 gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full"
    >
    <div
      enableLazyloadImage="true" label="Block" tag="Col" type="component"
      style="--jc:start"
      class="gsvhzuGoou gp-relative gp-flex gp-flex-col"
    >
      
  {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
  <gp-text data-id="g41RK5-XUq">
    <div
      enableLazyloadImage="true" parentTag="Col"
        class="g41RK5-XUq "
        style="--ta:left;--bs:solid;--bw:0px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-text"
          style="--w:var(--g-ct-w);--w-tablet:var(--g-ct-w);--w-mobile:var(--g-ct-w);--ts:none;--ta:justify;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--ff:var(--g-font-body, body);--weight:400;--ls:0px;--size:16px;--size-tablet:16px;--size-mobile:14px;--lh:130%;--lh-tablet:130%;--lh-mobile:130%;--c:rgba(87, 87, 87, 0.6);word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden"
        >{{ section.settings.gg41RK5-XUq_text | replace: '$locationOrigin', locationOrigin }}</div>
      </div>
    </div>
    </gp-text>
    
      <style id="custom-css-g41RK5-XUq">
        .g41RK5-XUq {

}
.g41RK5-XUq p {

}
      </style>
    
    </div>
    </div>
   
    
    </div>
    </div>
  
            </section>
           
    


{% schema %}
  {
    
    "name": "Section 4",
    "tag": "section",
    "class": "gps-542460860103197555 gps gpsil",
    "settings": [{"type":"paragraph","content":"Section design by GemPages. [Click here to start design](https://admin.shopify.com/store/09c241-13/apps/gempages-cro/app/shopify/edit?pageType=GP_STATIC&editorId=542460847687992324&sectionId=542460860103197555)"},{"type":"select","label":"Section Preload","id":"section_preload","options":[{"label":"On","value":"true"},{"label":"Off","value":"false"},{"label":"Off Lazy Script","value":"off_lazy_script"}],"default":"false"},{"type":"text","label":"Checksum","id":"checksum"},{"type":"html","id":"gg41RK5-XUq_text","label":"gg41RK5-XUq_text","default":"<p>WEBSITE AND ADVERTISING DISCLOSURE: This website is an advertisement. It is not affiliated with, endorsed by, or sponsored by Facebook, Meta Platforms Inc., Instagram, WhatsApp, or any Meta company. Facebook® and related marks are registered trademarks of Meta Platforms Inc.</p><p>&nbsp;</p><p>PRIVACY &amp; DATA COLLECTION: We collect and process personal information in accordance with our <a href=\"https://rings.com/policies/privacy-policy\" target=\"_blank\"><u>Privacy Policy</u></a>. This includes contact information and browsing data for marketing purposes. We use cookies and similar technologies to enhance your experience and deliver personalized advertising.</p><p>&nbsp;</p><p>MARKETING &amp; COMPENSATION DISCLOSURE: The owner(s) of this website receive compensation for products and services recommended on this site through affiliate partnerships. When you click on links or purchase products advertised here, we may earn a commission. This compensation may impact how and where products appear on this site.</p><p>&nbsp;</p><p>ADVERTISING NOTICE: Any testimonials or product results shown are not typical. Individual results may vary. Models are used in all photographs of persons on this site. Prices shown may be MSRP or promotional offers and are subject to change. This website serves as a marketplace connecting consumers with products and services; we are not a news publication or consumer protection organization.</p><p>&nbsp;</p><p>For full terms, conditions, and disclosures, please see our <a href=\"https://rings.com/policies/terms-of-service\" target=\"_blank\"><u>Terms of Service</u></a> and <a href=\"https://rings.com/policies/privacy-policy\" target=\"_blank\"><u>Privacy Policy</u></a>.<br><br>Rings.com Jewelry International Inc. © 2024 &nbsp; All Rights Reserved, Various trademarks held by their respective owners.</p>"}],
    "blocks": [{"type": "@app"}],
    "locales": {}
  }
{% endschema %}
