<style>
    .images-grid-d6 {
      display: flex;
      align-items: center;
  }
</style>
<section>
  <div class="main-images-grid-d6">
    <div class="images-grid-d6">
      {% for block in section.blocks %}
        {% if block.settings['block-img'] %}
          <div class="image-block-d6">
            <img src="{{ block.settings.block-img | image_url: width: 800 }}" width="300%" height="300">
          </div>
        {% endif %}
      {% endfor %}
    </div>
  </div>
</section>
{% schema %}
{
  "name": "Images Grid",
  "settings": [],
  "blocks": [
    {
      "type": "text",
      "name": "Image",
      "settings": [
        {
          "type": "image_picker",
          "id": "block-img",
          "label": "Image"
        }
      ]
    }
  ],
  "presets": [
    {
     "name": "Images Grid"
    }
  ]
}
{% endschema %}
