<section>
  <div class="newsletter-main-d6"></div>
</section>
{% schema %}
{
  "name": "Newsletter Section",
  "settings": [],
  "presets": [
    {
      "name": "Newsletter Section"
    }
  ]
}
{% endschema %}
