<style>
              .newsletter-main-d6 {
                background: #F2F1EA;
            }
                                .newsletter-heading-d6 {
                                  width: 100%;
                                  max-width: 575px;
                                  margin: 0 auto;
                                  padding: 60px 0;
                              }
                              .newsletter-headings-d6 p {
                                color: #1B1B1B;
                                text-align: center;
                                font-family: Roboto;
                                font-size: 16px;
                                font-style: normal;
                                font-weight: 400;
                                line-height: 24px;
                                letter-spacing: 0.08px;
                                padding: 16px 0 24px;
                            }
                            .newsletter-headings-d6 h2 {
                              color: #1B1B1B;
                              text-align: center;
                              font-family: "Tenor Sans";
                              font-size: 32px;
                              font-style: normal;
                              font-weight: 400;
                              line-height: normal;
                              letter-spacing: 0.16px;
                          }
                          label.label.label-d6 {
                            display: none;
                        }
                        .newsletter-d6 p {
                          color: #1B1B1B;
                          font-family: Roboto;
                          font-size: 14px;
                          font-style: normal;
                          font-weight: 400;
                          line-height: 24px;
                          letter-spacing: 0.56px;
                          text-align: center;
                      }
                     .newsletter-form .field .control.control-d6 {
                        width: calc(100% - 0px);
                    }
                   .newsletter-form .field .control.control-d6 input.input {
                      border: 1px solid rgba(45, 27, 56, 0.25);
                      background: #FFF;
                      border-radius: 0;
                      padding: 12px;
                     color: #D3D4D5;
                font-family: Roboto;
                font-size: 16px;
                font-style: normal;
                font-weight: 400;
                line-height: 24px; /* 150% */
                letter-spacing: 0.08px;
                     height: 100%;
                  }
              .newsletter-form .field .control.btn-control-d6{
                width: max-content;
              }
               .control.btn-control-d6 button.button {
                  color: #FFF;
                  text-align: center;
                  font-family: Roboto;
                  font-size: 16px;
                  font-style: normal;
                  font-weight: 400;
                  line-height: 24px;
                  padding: 12px 16px;
                  letter-spacing: 0.32px;
                  border-radius: 0;
                  height: 44px;
                  background: #2D1B38;
              }
              .newsletter-form .field{
                margin: 0 0 16px;
              }
            @media (max-width: 750px){
              .newsletter-heading-d6 {
              padding: 24px 20px;
          }
              .newsletter-headings-d6 h2{
                font-size: 24px;
                letter-spacing: 0.12px;
              }
              .newsletter-headings-d6 p {
            font-size: 14px;
            line-height: 20px;
            letter-spacing: 0.07px;
            padding: 15px 0 12px;
        }
        .newsletter-form .field .control.control-d6 input.input{
      font-size: 14px;
      line-height: 12px; /* 85.714% */
      letter-spacing: 0.07px;
          padding: 12px 8px;
        }
              .control.btn-control-d6 button.button{
    padding: 12px 6px;
    font-size: 14px;
    line-height: 12px; /* 85.714% */
    letter-spacing: 0.28px;
                height: 42px;
              }
              .newsletter-d6 p{
                line-height: 12px;
              }
              .newsletter-form.newsletter-form-d6.form {
      flex-wrap: nowrap;
  }
              .newsletter-form.newsletter-form-d6.form .field:first-child{
                width: 100%;
                max-width: 80%;
                min-width: unset;
              }
              .newsletter-form.newsletter-form-d6.form .field{
                width: 100%;
                max-width: 20%;
                min-width: unset;
                margin: 0 0 12px;
              }
            }
</style>
<section>
  <div class="newsletter-main-d6">
    <div class="newsletter-heading-d6">
      <div class="newsletter-headings-d6">
        <h2>{{ section.settings.heading }}</h2>
        <p>{{ section.settings.content }}</p>
      </div>
      <div class="newsletter-d6">
        {% render 'newsletter-form-d6' %}
        <p>{{ section.settings['note-text'] }}</p>
      </div>
    </div>
  </div>
</section>
{% schema %}
{
  "name": "Newsletter Section",
  "settings": [
    {
      "type": "text",
      "id": "heading",
      "label": "Heading",
      "default": "Heading"
    },
    {
      "type": "textarea",
      "id": "content",
      "label": "Text",
      "default": "Add Text"
    },
    {
      "type": "text",
      "id": "note-text",
      "label": "Note Text",
      "default": "Note: You can opt-out at any time"
    }
  ],
  "presets": [
    {
      "name": "Newsletter Section"
    }
  ]
}
{% endschema %}
