<section>
  <div class="newsletter-main-d6">
    <div class="newsletter-heading-d6">
      <div class="newsletter-headings-d6"></div>
      <div class="newsletter-d6"></div>
    </div>
  </div>
</section>
{% schema %}
{
  "name": "Newsletter Section",
  "settings": [],
  "presets": [
    {
      "name": "Newsletter Section"
    }
  ]
}
{% endschema %}
