<style>
                  .newsletter-heading-d6 {
                    width: 100%;
                    max-width: 575px;
                    margin: 0 auto;
                }
                .newsletter-headings-d6 p {
                  color: #1B1B1B;
                  text-align: center;
                  font-family: Roboto;
                  font-size: 16px;
                  font-style: normal;
                  font-weight: 400;
                  line-height: 24px;
                  letter-spacing: 0.08px;
                  padding: 16px 0 24px;
              }
              .newsletter-headings-d6 h2 {
                color: #1B1B1B;
                text-align: center;
                font-family: "Tenor Sans";
                font-size: 32px;
                font-style: normal;
                font-weight: 400;
                line-height: normal;
                letter-spacing: 0.16px;
            }
            label.label.label-d6 {
              display: none;
          }
          .newsletter-d6 p {
            color: #1B1B1B;
            font-family: Roboto;
            font-size: 14px;
            font-style: normal;
            font-weight: 400;
            line-height: 24px;
            letter-spacing: 0.56px;
            text-align: center;
        }
       .newsletter-form .field .control.control-d6 {
          width: calc(100% - 0px);
      }
     .newsletter-form .field .control.control-d6 input.input {
        border: 1px solid rgba(45, 27, 56, 0.25);
        background: #FFF;
        border-radius: 0;
        padding: 12px;
       color: #D3D4D5;
  font-family: Roboto;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px; /* 150% */
  letter-spacing: 0.08px;
    }
</style>
<section>
  <div class="newsletter-main-d6">
    <div class="newsletter-heading-d6">
      <div class="newsletter-headings-d6">
        <h2>{{ section.settings.heading }}</h2>
        <p>{{ section.settings.content }}</p>
      </div>
      <div class="newsletter-d6">
        {% render 'newsletter-form-d6' %}
        <p>{{ section.settings['note-text'] }}</p>
      </div>
    </div>
  </div>
</section>
{% schema %}
{
  "name": "Newsletter Section",
  "settings": [
    {
      "type": "text",
      "id": "heading",
      "label": "Heading",
      "default": "Heading"
    },
    {
      "type": "textarea",
      "id": "content",
      "label": "Text",
      "default": "Add Text"
    },
    {
      "type": "text",
      "id": "note-text",
      "label": "Note Text",
      "default": "Note: You can opt-out at any time"
    }
  ],
  "presets": [
    {
      "name": "Newsletter Section"
    }
  ]
}
{% endschema %}
