<section>
  <div class="recently-main-d6">
    {% render 'recently-viewed-d6' %}
  </div>
</section>
{% schema %}
{
  "name": "Recently Viewed",
  "settings": [],
  "presets": [
    {
      "name": "Recently Viewed"
    }
  ]
}
{% endschema %}
