<style>
  .recently-main-d6{
  width: 100%;
  max-width: 1180px;
  margin: 0 auto;
  padding: 120px 0;
  }
  .slider-arrows-d6 span{
    display: flex;
    align-items: center;
  }
  .arrow-btn{
    height: 20px;
  }
  .recently-main-d6 .proscroll-video-bar__d5{
    margin-top: 32px;
    height: 2px;
    background: #1B1B1B;
  }
  @media (max-width: 768px){
    .recently-main-d6{
  padding: 40px 0;
  }
    .slider-arrows-d6 .d5-disable{
      opacity: 0;
    }
    .recently-main-d6 .proscroll-video-bar__d5{
      margin-top: 24px;
    }
    .recently-main-d6 .main-scroll-bar-d5{
      padding: 0;
    }
  }
</style>
<section>
  <div class="recently-main-d6" data-slider-container>
    {% render 'recently-viewed-d6' %}
  </div>
</section>


{% schema %}
{
  "name": "Recently Viewed",
  "settings": [],
  "presets": [
    {
      "name": "Recently Viewed"
    }
  ]
}
{% endschema %}
