<style>
  .recently-main-d6{
  width: 100%;
  max-width: 1180px;
  margin: 0 auto;
  padding: 120px 0;
  }
  @media (max-width: 768px){
    .recently-main-d6{
  padding: 40px 0;
  }
  }
</style>
<section>
  <div class="recently-main-d6">
    {% render 'recently-viewed-d6' %}
  </div>
</section>
<script>
  document.addEventListener("DOMContentLoaded", function () {
    const slider = document.querySelector(".js-recentPdpBlock");
    const leftArrow = document.querySelector(".arrow-left");
    const rightArrow = document.querySelector(".arrow-right");
    const scrollAmount = 300; // Adjust scroll amount per click

    function checkScroll() {
      if (slider.scrollLeft <= 0) {
        leftArrow.classList.add("disabled");
      } else {
        leftArrow.classList.remove("disabled");
      }

      if (slider.scrollLeft + slider.clientWidth >= slider.scrollWidth) {
        rightArrow.classList.add("disabled");
      } else {
        rightArrow.classList.remove("disabled");
      }
    }

    leftArrow.addEventListener("click", () => {
      if (!leftArrow.classList.contains("disabled")) {
        slider.scrollBy({ left: -scrollAmount, behavior: "smooth" });
      }
    });

    rightArrow.addEventListener("click", () => {
      if (!rightArrow.classList.contains("disabled")) {
        slider.scrollBy({ left: scrollAmount, behavior: "smooth" });
      }
    });

    slider.addEventListener("scroll", checkScroll);

    // Initial check on page load
    checkScroll();
  });
</script>
<script>
        // Third Block
        function getRecentPdp (){
    
            // First let's convert localStorage data into object again
            const pdpData = JSON.parse(localStorage.getItem('recently_viewed'));
            console.log(pdpData)
            // Create a empty Array
            const recentViewHtml = []
            // Loop through all the data and inject into HTML using ES6
            pdpData.forEach(function(item){ 
                recentViewHtml.push(`
                    <section id="Recent">
                    <div class="c-product">
                        <div class="c-product__img">
                        <a href="${item.productUrl}"><img src='${item.productImg}'/></a>
                        </div>
                        <h3 class="c-product__title">
                            <a class="c-product__url" href="${item.productUrl}">
                            ${item.productTitle}
                            </a>
                        </h3>
                        <p class="c-productPrice">${item.productPrice}</p>
                    </div>
                    
                    
                    </section>
                `)
            })
            // Now consolidate the data 
            const recentBlock = `${recentViewHtml.join('')}`
            // console.log() to check data is correct 
            console.log(recentBlock);
            // Inject into PDP page
            const contentBlock = document.querySelectorAll('.js-recentPdpBlock');
            // Push the data
            contentBlock.forEach(element =>{
                element.innerHTML = recentBlock;
            })
           
        }
        // Execute this function on DOM content load 
    
        getRecentPdp();
</script>
<script>
  // First Block
      function setRecentlyViewedPdp() {
          const pdpData = {
              productTitle : "{{ product.title }}",
              productImg : "{{ product.featured_image | img_url: '' }}",
              productPrice : "{{ product.price | money | remove_first: '' }}",
              productUrl : "{{ product.url }}"
          };

          // Init Empty Array to push data
          const productArr = [];
          // Create a couple of variables
          let jsonResp,
              jsonRespArr,
              jsonRespArrStr;
          // Set the number how many products you want to capture
          const numberOfProduct = 8;
          // Now push the pdpData into Array so that we can use it
          productArr.push(pdpData);
          // Get the product title from pdpData
          const currPdpTitle = pdpData.productTitle;
          // Now Convert current page data into Strings which we already pushed in Array
          const pdpDataString = JSON.stringify(productArr);
          // Set the variable for localStorage
          const localData = localStorage.getItem('recently_viewed');

          // Second Block
          // first we need to check data if data is not there then store right // away
          if (localData == null) {
              localStorage.setItem('recently_viewed', pdpDataString);

          }
          // If data is there then we need to check couple of other conditions
          else if ( localData != null ) {

              // Create Variable for oldData or Previous page
              const oldPdpData = localStorage.getItem('recently_viewed');
              // Count the amount of data stored in strings so that we can remove // old products from the stack
              const countPdpData = (oldPdpData.match(/productTitle/g) || []).length;
              // we also need to check if user is not visiting page again
              const reVisitPdp =  oldPdpData.includes(currPdpTitle);
              // Get old data, merged it with new data and store merged data
              if (countPdpData < numberOfProduct && reVisitPdp == false) {
                  jsonResp = JSON.parse(oldPdpData);
                  jsonRespArr = jsonResp.concat(productArr);
                  jsonRespArrStr = JSON.stringify(jsonRespArr);
                  localStorage.setItem('recently_viewed', jsonRespArrStr);
              }
              // If User visited more the 4 pages delete first page data
              else if (countPdpData >= numberOfProduct && reVisitPdp == false) {
                  jsonResp = JSON.parse(oldPdpData);
                  jsonResp.shift();
                  jsonRespArr = jsonResp.concat(productArr);
                  jsonRespArr =  JSON.stringify(jsonRespArr);
                  localStorage.setItem('recently_viewed', jsonRespArr);
              }
          }
      }

      // Now we write all our function and it's time to execute it
      setRecentlyViewedPdp();
      // Set Variable for Local Storage Data
      const localViewed = localStorage.recently_viewed;
      // console.log to verify the data
</script>

{% schema %}
{
  "name": "Recently Viewed",
  "settings": [],
  "presets": [
    {
      "name": "Recently Viewed"
    }
  ]
}
{% endschema %}
