<section>
  {% render 'recently-viewed-d6' %}
</section>
{% schema %}
{
  "name": "Recently Viewed",
  "settings": [],
  "presets": [
    {
      "name": "Recently Viewed"
    }
  ]
}
{% endschema %}
