<style>
  .recently-main-d6{
  width: 100%;
  max-width: 1180px;
  margin: 0 auto;
  padding: 120px 0;
  }
  .slider-arrows-d6 span{
    display: flex;
    align-items: center;
  }
  .arrow-btn{
    height: 20px;
  }
  @media (max-width: 768px){
    .recently-main-d6{
  padding: 40px 0;
  }
  }
</style>
<section>
  <div class="recently-main-d6" data-slider-container>
    {% render 'recently-viewed-d6' %}
  </div>
</section>


{% schema %}
{
  "name": "Recently Viewed",
  "settings": [],
  "presets": [
    {
      "name": "Recently Viewed"
    }
  ]
}
{% endschema %}
