* {
  letter-spacing: normal;
}
.d5-main-product .product-block--first .product-title {
  color: #1b1b1b;
  font-family: "Tenor Sans";
  font-size: 32px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin-bottom: 16px;
}
.d5-main-product .price-ui .price .money {
  color: #1b1b1b;
  font-family: Inter;
  font-size: 32px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.d5-main-product .description-text {
  color: #626161;
  font-family: Roboto;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 142.857%;
}
.d5-main-product .description-text {
  display: -webkit-box;
  -webkit-line-clamp: 2; /* Show only 2 lines */
  -webkit-box-orient: vertical;
  overflow: hidden;
  position: relative;
  transition: all 0.3s ease;
}

.d5-main-product .expanded {
  display: block;
  -webkit-line-clamp: unset;
  overflow: visible;
}

.d5-main-product .toggle-btn {
  display: block;
  background: none;
  border: none;
  color: #0073e6;
  font-weight: bold;
  cursor: pointer;
  margin-top: 5px;
  color: #2d1b38;
  font-family: Roboto;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
  text-decoration-line: underline;
  padding: 0;
}
.d5-main-product .option-title.label {
  z-index: 10;
}
.d5-main-product .swatch-element.color {
  min-width: 60px;
  min-height: 60px;
  padding: 16px;
}
.d5-main-product .swatch-element.color label {
  border: none;
}
.d5-main-product .swatch input:checked + .swatch-element {
  border: 1.602px solid #2d1b38;
}
.d5-main-product .purchase-details .purchase-details__spb--true {
  flex-direction: column;
  gap: 12px;
}
.d5-main-product
  .purchase-details
  .purchase-details__spb--true
  .action_button.action_button--secondary,
.d5-main-product
  .purchase-details
  .purchase-details__spb--true
  .shopify-payment-button {
  max-width: 100%;
  width: 100%;
  flex: 0 0 100%;
  margin: 0;
  height: 52px;
  border-radius: 0;
  min-height: 52px;
}
.d5-main-product
  .purchase-details
  .purchase-details__spb--true
  .action_button.action_button--secondary {
  background: #2d1b38;
  color: #fff;
  text-align: center;
  font-family: Inter;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-transform: uppercase;
}
.section.d5-main-product,
.d5-main-steps {
  max-width: 1180px;
  width: calc(100% - 60px);
  margin: 0 auto;
}
.steps-row-d5 {
  display: flex;
  padding: 40px 0 64px;
}
.step-item-d5 {
  flex: 0 0 33.33%;
  position: relative;
  aspect-ratio: 400/83;
  display: flex;
  align-items: center;
}
.svg-bg-d5 {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.item-d5 {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 7px 40px 7px 16px;
  position: relative;
  z-index: 4;
  width: 100%;
}
.count-d5 {
  display: flex;
  align-items: center;
  gap: 8px;
}
.dynamic-content-d5 {
  display: flex;
  align-items: center;
  gap: 18px;
}
.count-d5 p.count {
  color: #000;
  font-family: Roboto;
  font-size: 56px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.count-d5 p.rt-d5,
.selected-price-d5 p {
  color: #000;
  font-family: Roboto;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.selected-price-d5 p {
  margin: 2px 0;
}
.selected-image-d5 {
  display: flex;
  width: 48px;
  height: 48px;
  aspect-ratio: 1/1;
  overflow: hidden;
  border-radius: 4px;
}
.selected-image-d5 img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.step-3-d5,
.step-2-d5 {
  padding-left: 30px;
  margin-left: -15px;
}
.shopify-section.product-template.product-main {
  background: #fff;
}
.step-3-d5 {
  margin-left: -15px;
}
.d5-faq-main {
  width: 100%;
  border-bottom: 1px solid rgba(45, 27, 56, 0.1);
}
.quest-d5 {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 16px 0;
  cursor: pointer;
}
.quest-d5 h3 {
  color: #000;
  font-family: "Tenor Sans";
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.answer-d5 {
  max-height: 0;
  opacity: 0;
  overflow: hidden;
  transition: all 0.4s;
}
.answer-d5 * {
  color: #626161;
  font-family: Roboto;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 142.857%;
}
.answer-d5 a {
  color: #2d1b38;
  font-family: Roboto;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
  text-decoration-line: underline;
}
.d5-faq-main.active .answer-d5 {
  max-height: 900px;
  opacity: 1;
  padding-bottom: 16px;
}
.quest-d5 .faq_icon-d5 {
  transition: all 0.4s;
}
.d5-faq-main.active .quest-d5 .faq_icon-d5 {
  rotate: 180deg;
}
.info-item-d5 {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 12px 0;
  border-bottom: 1px solid rgba(45, 27, 56, 0.1);
}
.info-item-d5:last-child {
  border: none;
}
.info-item-d5 p {
  color: #1b1b1b;
  font-family: Roboto;
  font-size: 14px;
  font-style: normal;
  font-weight: 300;
  line-height: 142.857%;
}
.svg-bg-d5 svg {
  width: 100%;
  height: 100%;
}
.size_chart_container {
  display: none;
}
.price-label-d5 {
  color: #1b1b1b;
  font-family: Inter;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin: 4px 0 0;
}
.d5-atc-label {
  max-width: 395px;
  width: 100%;
  padding: 8px;
  background: #f2f1ea80;
  /* margin-bottom: 12px; */
}
.d5-atc-label p {
  color: #1b1b1b;
  font-family: Inter;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
#more-payment-options-link {
  margin-top: 0 !important;
}
.icon-row-d5 {
  display: flex;
}
.icon-item-d5 {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  flex: 0 0 33%;
}
.icon-d5 {
  width: 32px;
  height: 32px;
}
.icon-d5 img {
  width: 100%;
  height: 100%;
}
.icon-content-d5 p {
  color: #000;
  text-align: center;
  font-family: Inter;
  font-size: 12px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
}
.icon-text-main-d5 {
  padding: 4px 0 32px;
}
.d5-footer {
  padding: 60px 40px;
  background: #fff;
}
.d5-footer .footer__content {
  background: #fff;
  border: none;
  padding: 0;
}
.d5-footer .footer__extra-content.section {
  display: none;
}
.d5-footer .section.is-width-wide .container.has-limit {
  width: 100%;
  max-width: 1280px;
}
.d5-footer .one-fourth {
  width: calc(22.3% - 20px);
  max-width: 165px;
}
.d5-footer #shopify-section-logo {
  width: 29%;
  max-width: unset;
}
.d5-footer p,
.d5-footer a {
  color: #1b1b1b;
  font-family: Roboto;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%;
}
.d5-footer p.footer__heading {
  font-family: "Tenor Sans";
  font-size: 20px;
  margin-bottom: 24px;
}
.cta_icon-container-d5 {
  display: flex;
  align-items: center;
  gap: 32px;
  padding-top: 30px;
  flex-wrap: wrap;
}
.cta_item-d5 {
  display: flex;
  align-items: center;
  gap: 8px;
  max-width: 145px;
}
.footer__logo-wrapper {
  margin-bottom: 10px;
}
.fec-row-d5 {
  display: flex;
  align-items: center;
  padding-top: 60px;
  justify-content: space-between;
}
.footer-end-content-d5 {
  max-width: 1280px;
  margin: 0 auto;
}
.social-icons-d5 ul li a svg,
.social-icons-d5 ul .icon {
  width: 24px;
  height: 24px;
  aspect-ratio: 1/1;
}
.social-icons-d5 ul {
  align-items: center;
  gap: 14px;
}
.footer-end-content-d5 .disclosure__toggle,
.footer-end-content-d5 .disclosure-list {
  border: none;
  background: none;
}
.d5-footer .footer__menu ul li,
.d5-footer .footer__block.block__text p {
  margin-bottom: 12px;
}
.atc_button_overlay {
  display: none !important;
}
.info-item-d5:nth-child(odd) {
  background: #fbfbfb;
}
.info-item-d5 {
  padding-inline: 12px;
}
.product-title.title {
  color: #1b1b1b;
  font-family: "Tenor Sans";
  font-size: 32px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.backtog-d5 {
  display: flex;
  align-items: center;
  gap: 4px;
  top: -32px;
  position: absolute;
}
.backtog-d5 span {
  color: #1b1b1b;
  font-family: Roboto;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.d5-main-product .product-gallery__image,
.d5-main-product .product-gallery__thumbnail {
  border: 0.5px solid rgba(45, 27, 56, 0.25);
}
.progressbar-con-d5 {
  width: 100%;
  position: relative;
  background: #e9e9e9;
  height: 4px;
  display: none;
}
.d5-progress-bar-inner {
  height: 100% !important;
  position: absolute;
  top: 0;
  left: 0;
  background: #1b1b1b;
  margin: 0 !important;
}
.d5-footer .footer__logo-wrapper .image-element__wrap img {
  filter: grayscale(100%) brightness(0%) invert(14%);
}
.product-block.product-block--text .product-text p {
  color: #1b1b1b;
  text-align: center;
  font-family: Inter;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 22px; /* 157.143% */
  margin: 5px 0 32px;
}
.product-block.product-block--text .product-text p a {
  color: #553365;
  text-decoration: underline;
}
@media (min-width: 798px) {
  .d5-mobile {
    display: none;
  }
}
@media (max-width: 798px) {
  .progressbar-con-d5 {
    height: 2px;
  }
  .d5-main-product .product__images {
    margin-bottom: 0;
  }
  .purchase-details__buttons {
    margin-top: 0 !important;
  }
  #more-payment-options-link {
    padding-bottom: 0 !important;
  }
  .icon-text-main-d5 {
    padding: 20px 0;
  }
  .icon-item-d5 {
    flex-direction: row;
    gap: 12px;
  }
  .icon-row-d5 {
    flex-direction: column;
    gap: 8px;
  }
  .icon-d5 {
    width: 20px;
    height: 20px;
  }
  .selected-price-d5,
  .d5-desktop {
    display: none;
  }
  .step-3-d5,
  .step-2-d5 {
    margin-left: 0;
  }
  .selected-image-d5 {
    width: 20px;
    height: 20px;
  }
  /* .svg-bg-d5 svg path {
    stroke: #f2f1ea;
    fill: #f2f1ea;
  }
  .step-1-d5 .svg-bg-d5 svg path {
    stroke: #8b5e9a;
    fill: #8b5e9a;
  } 
  .step-1-d5 * {
    color: #fff !important;
  } */
  .dynamic-content-d5 svg {
    max-height: 20px;
    width: auto;
    max-width: 24px;
  }
  .item-d5 {
    padding: 10px 14px 10px 10px;
  }
  .step-3-d5,
  .step-2-d5 {
    padding: 0;
  }
  .count-d5 p.rt-d5 {
    font-size: 12px;
  }
  .d5-main-product .swatch-element.color {
    min-width: 53px;
    min-height: 53px;
    max-width: 53px;
    max-height: 53px;
    padding: 14px;
  }
  .d5-main-product .swatch__options {
    display: flex;
    flex-wrap: wrap;
  }
  .d5-main-product .swatch .color label {
    width: 24.7px;
    height: 24.7px !important;
    background-size: contain;
    background-repeat: no-repeat;
  }
  .section.d5-main-product,
  .d5-main-steps {
    width: calc(100% - 20px);
  }
  .d5-main-steps {
    padding-inline: 10px;
  }
  .steps-row-d5 {
    padding: 10px 0;
  }
  .product-title.title {
    color: #1b1b1b;
    font-family: "Tenor Sans";
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin: 0 0 8px;
  }
  .price-ui .price .money {
    color: #1b1b1b;
    font-family: Inter;
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
  }
  .d5-main-product .product-block--price {
    margin-bottom: 10px;
  }
  .d5-main-product .swatch .swatch__option {
    margin-right: 4px;
  }
  .d5-main-product .description-text {
    -webkit-line-clamp: 2;
  }
  .product__description .has-padding-top {
    padding-top: 15px;
  }
  .d5-main-product .flickity-button {
    display: none;
  }
  .d5-main-product .product-gallery__thumbnails {
    margin-top: 4px;
  }
  .d5-main-product
    .purchase-details
    .purchase-details__spb--true
    .action_button.action_button--secondary,
  .d5-main-product
    .purchase-details
    .purchase-details__spb--true
    .shopify-payment-button {
    height: 48px;
  }
  .d5-main-product
    .purchase-details
    .purchase-details__spb--true
    .action_button.action_button--secondary,
  .d5-main-product .label {
    font-size: 14px !important;
  }
  .quest-d5 {
    padding: 12px 0;
  }
  .d5-faq-main.active .answer-d5 {
    padding-bottom: 12px;
  }
  .product-gallery__thumbnails .flickity-viewport {
    overflow-x: scroll;
  }
  .d5-atc-label p {
    font-size: 12px;
  }
  .d5-main-product .purchase-details .purchase-details__spb--true {
    gap: 8px;
  }
  .d5-main-product .product-gallery__thumbnail {
    border: 0.5px solid rgba(45, 27, 56, 0.25);
    margin-inline: 2px;
  }
  .flickity-viewport::-webkit-scrollbar {
    height: 2px;
    width: 100%;
  }

  .flickity-viewport::-webkit-scrollbar-track {
    background: #e9e9e9;
    border-radius: 0px;
  }

  .flickity-viewport::-webkit-scrollbar-thumb {
    background: #2d1b38;
    border-radius: 0px;
  }
  .d5-footer {
    padding: 30px 20px;
  }
  .d5-footer #shopify-section-logo {
    width: 100%;
  }
  .d5-footer .one-fourth {
    width: calc(50% - 8px);
    max-width: 165px;
    padding: 0;
    margin: 0;
  }
  .d5-footer p,
  .d5-footer a {
    color: #1b1b1b;
    font-family: Roboto;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px;
  }
  .d5-footer p.footer__heading {
    color: #1b1b1b;
    font-family: "Tenor Sans";
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-bottom: 20px;
  }
  .d5-footer .section.is-width-wide .container.has-limit {
    gap: 16px;
  }
  .d5-footer .footer__logo-wrapper .image-element__wrap {
    width: 153px;
    height: 28px;
  }
  .d5-footer .footer__logo-wrapper .image-element__wrap img {
    object-fit: contain !important;
    filter: grayscale(100%) brightness(0%) invert(14%);
  }
  .d5-footer .footer__logo-wrapper.is-small {
    padding-bottom: 5px;
  }
  .cta_icon-container-d5 {
    padding: 15px 0 14px;
    gap: 16px;
  }
  .d5-footer .footer__menu ul li,
  .d5-footer .footer__block.block__text p {
    margin-bottom: 12px;
  }
  .social-icons-d5 ul li a svg,
  .social-icons-d5 ul .icon {
    width: 14px;
    height: 14px;
  }
  .social-icons-d5 ul {
    gap: 6px;
  }
  .d5-footer .disclosure__toggle-content,
  .d5-footer .disclosure__button {
    font-size: 12px;
  }
  .d5-footer .disclosure.disclosure--country {
    border: none;
    background: none;
  }
  .d5-footer .disclosure__toggle img,
  .d5-footer .disclosure__button img {
    margin-right: 4px !important;
  }
  .d5-footer svg path {
    fill: #1b1b1b;
  }
  .d5-main-gallery {
    position: relative;
  }
  .backtog-d5 {
    position: absolute;
    z-index: 55;
    top: 15px;
    left: 15px;
  }
  .backtog-d5 span {
    color: #1b1b1b;
    font-family: Roboto;
    font-size: 12px;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
  }
  .product-block.product-block--text .product-text p {
    line-height: 20px;
    font-size: 12px;
    margin: 5px 0 20px;
  }
  .d5-atc-label {
    padding: 4px;
  }
  .price-label-d5{
    rgba(27, 27, 27, 0.75);
  }
}

/*  */

<style>
                                    .container-d11-sr-main-0{
                                      padding: 120px 0 0 0;
                                      background: #fff;
                                    }
                                          .container-d11-sr {
                                            position: relative;
                                            width: 100%;
                                            margin: 0px auto;
                                            max-width: 1290px;
                                            padding: 0px;
                                            overflow: hidden;
                                          }
                                          .container-d11-sr *{
                                        scrollbar-width: thin; /* "auto" or "thin" depending on your preference */
                                        scrollbar-color: transparent transparent; /* thumb and track color */
                                      }
                                      .parent-masonry{
                                         max-height: 1320px;
                                         position: relative;
                                        overflow-y: hidden;

                                    }
                                          #shopify-section-{{section.id}} .masonry {
                                            -webkit-column-count: 4;
                                            -moz-column-count: 4;
                                            column-count: 4;
                                            border-radius: 10px;
                                            box-shadow: 0px 57.2px rgba(0, 0, 0, 0.10);
                                            align-items: start;
                                            -webkit-column-gap: 1rem;
                                            -moz-column-gap: 1rem;
                                            column-gap: normal;
                                            margin: 2.5em auto;
                                            padding: 0;
                                            font-size: 0.85em;
                                            margin: auto;
                                          }
                                       #shopify-section-{{section.id}} .card-item-s {
                                            display: inline-block;
                                            padding: 1em;
                                            margin-bottom: 34px;
                                            width: 100%;
                                            transition: 1s ease all;
                                            box-sizing: border-box;
                                            max-width: 280px;
                                            padding: 16px;
                                            font-size: 16px;
                                            display: flex;
                                            flex-direction: column;
                                            gap: 16px;
                                            padding: 0px;
                                            border-bottom-right-radius: 10px;
                                            border-bottom-left-radius: 10px;
                                            background: #FFF;
                                            border: 1px solid #989797;
                                            overflow: hidden;
                                            border-radius: 10px;
                                          }
                                          #shopify-section-{{section.id}} .review {
                                         color: #000;
      font-family: Roboto;
      font-size: 14px;
      font-style: normal;
      font-weight: 400;
      line-height: 140%; /* 19.6px */
                                            }
                    #shopify-section-{{section.id}} .review p{
                      margin: 0;
                    }
                                          #shopify-section-{{section.id}} .author-stars {
                                            display: flex;
                                            flex-wrap: wrap;
                                            gap: 10px;
                                            margin: 10px 0;
                                          }

                                          #shopify-section-{{section.id}} .author {
                                           color: #1B1B1B;
            font-family: Roboto;
            font-size: 16px;
            font-style: normal;
            font-weight: 700;
            line-height: 20px; /* 125% */
                                          }
                       p.verified-text-d6 {
                        margin: 0;
                        display: flex;
                        align-items: center;
                        gap: 7px;
                        color: #1B1B1B;
          font-family: Roboto;
          font-size: 12px;
          font-style: normal;
          font-weight: 400;
          line-height: 20px; /* 166.667% */
                    }
                        p.verified-text-d6 svg {
                          width: 14px;
                          height: 14px;
                      }
                                        @media screen and (min-width: 769px) {

                                          #shopify-section-{{section.id}} .masonry {
                                            padding: 0 55px;
                                          }
                                          .container-d11-sr-main{
                                      padding: 24px 0;
                                    }
                                          .shades{
                                            width: 100%;
                                            height: 150px;
                                            background: linear-gradient(0deg, #FFF -0.09%, rgba(255, 255, 255, 0.00) 100%);
                                            position: sticky;
                                            bottom:0;
                                            left:0;
                                            display: block;
                                          }
                                        #shopify-section-{{section.id}} .card-item-s {
                                            display: inline-block;
                                            padding: 1em;
                                            margin-bottom: 34px;
                                            width: 100%;
                                            transition: 1s ease all;
                                            box-sizing: border-box;
                                            max-width: 280px;
                                            padding: 0px;
                                            font-size: 16px;
                                            gap: 16px;
                                            border-bottom-right-radius: 10px;
                                            border-bottom-left-radius: 10px;
                                            background: #FFF;
                                            /* box-shadow: 4px 0px 57.2px 0px rgba(0, 0, 0, 0.10); */
                                          }
                                        }
                                          @media screen and (max-width: 768px) {
                                       .card-item-s {
                                transition: 1s ease all;
                                width: 100%;
                                max-width: 100%;
                            }

                            .card-item-s.active {
                                display: block !important;
                                opacity: 1;
                                z-index: 1;
                            }
                                            .card-item-s.slide-in-left {
                                  animation: slideInFromLeft .3s forwards;
                              }

                              .card-item-s.slide-in-right {
                                  animation: slideInFromRight .3s forwards;
                              }

                              .card-item-s.slide-out-left {
                                  animation: slideOutToLeft .3s forwards;
                              }

                              .card-item-s.slide-out-right {
                                  animation: slideOutToRight .3s forwards;
                              }

                              @keyframes slideInFromLeft {
                                  0% {
                                      transform: translateX(-100%);
                                      opacity: 0;
                                  }
                                  100% {
                                      transform: translateX(0);
                                      opacity: 1;
                                  }
                              }

                              @keyframes slideInFromRight {
                                  0% {
                                      transform: translateX(100%);
                                      opacity: 0;
                                  }
                                  100% {
                                      transform: translateX(0);
                                      opacity: 1;
                                  }
                              }

                              @keyframes slideOutToLeft {
                                  0% {
                                      transform: translateX(0);
                                      opacity: 1;
                                  }
                                  100% {
                                      transform: translateX(-100%);
                                      opacity: 0;
                                  }
                              }

                              @keyframes slideOutToRight {
                                  0% {
                                      transform: translateX(0);
                                      opacity: 1;
                                  }
                                  100% {
                                      transform: translateX(100%);
                                      opacity: 0;
                                  }
                              }
                                              .container-d11-sr-main-0{
                                      padding: 30px 0 0;
                                    }

                                              #shopify-section-{{section.id}} .masonry {
                                            padding: 10px 0px 30px 0;
                                                position: relative;
                                                height: 100%;
                                                max-height: 700px;
                                          }
                                            .shades{
                                              display: none;
                                            }
                                            #shopify-section-{{section.id}} .card-item-s {
                                              /* position: absolute; */
                                              overflow: hidden;
                                              box-sizing: border-box;
                                              text-align: center;
                                              margin-bottom: 0px;
                                              width: 100%;
                                              max-width: 100%;
                                              /* box-shadow: 4px 0px 57.2px 0px rgba(0, 0, 0, 0.10); */
                                              gap: 16px;
                                              flex-shrink: 0;
                                            }
                                            .reviewer-image-d6 img{
                  width: 100%;
                  aspect-ratio: 1/1;
                  object-fit: cover;
              }
                                            .container-d11-sr {
                                              position: relative;
                                              width: 100%;
                                              margin: 0px auto;
                                              max-width: 1220px;
                                              padding: 20px 20px !important;
                                              overflow: hidden;
                                            }
                                            #shopify-section-{{section.id}} .masonry {
                                              display: flex !important;
                                              flex-direction: column;
                                              transition: transform 0.5s ease;
                                              gap: 30px;
                                      overflow: scroll;
                                      scroll-behavior: smooth;
                                            }
                                            #shopify-section-{{section.id}} .review {
                                    text-align: left;
                                    display: -webkit-box;
                                    -webkit-box-orient: vertical;
                                    -webkit-line-clamp: 11; /* number of lines to show */
                                    overflow: hidden;
                                    text-overflow: ellipsis;
                                    white-space: normal;
                                  }
                                  .pro-img-title{
                                    text-align: left;
                                  }
                                            .dot-d11-1 {
                                              min-width: 6px;
                                              min-height: 6px;
                                              background-color: #fff;
                                              border-radius: 50%;
                                              border: 1px solid #BFBFBF;
                                              cursor: pointer;
                                              display: inline-block !important;
                                            }
                                            .dots-d11-1 {
                                              display: flex !important;
                                              padding: 0 10px;
                                              justify-content: center;
                                              margin: auto;
                                              align-items: center;
                                              gap: 10px;
                                            }
                                            .dot-d11-1.active{
                                              background: #648291;
                                            }
                                          }
                                   .main-r-images-d9 {
                                    width: 100%;
                                    margin-bottom: 60px;
                                  }
                                  .row-r-images-d9 {
                                    display: flex;
                                   justify-content: center;
                                    gap: 20px;
                                  }

                                  .col-r-videos-d9 {
                                    width: 100%;
                                    position: relative;
                                    aspect-ratio: 285 / 488;
                                    overflow: hidden;
                                    /* border: 5px solid #fff; */
                                    border-radius: 12px;
                                  }

                                  .col-r-videos-d9 video {
                                    width: 100%;
                                    height: 100%;
                                    object-fit: cover;
                                  }

                                  .r-overlay-d9 {
                                    position: absolute;
                                    display: block;
                                    width: 100%;
                                    height: 100%;
                                    top: 0;
                                    left: 0;
                                    pointer-events: none;
                                    /* background: linear-gradient(180deg, rgba(0, 0, 0, 0) 50%, #000000 100%); */
                                  }
                                  .r-conten-d9 {
                                    position: absolute;
                                    width: 100%;
                                    bottom: 64px;
                                    text-align: center;
                                    color: #fff;
                                    pointer-events: none;
                                  }
                                  .r-conten-d9 p.large-txt-d9 {
                                    font-family: "Poppins", sans-serif;
                                    font-size: 24px;
                                    font-weight: 400;
                                    line-height: 28.08px;
                                  }

                                  .r-conten-d9 p.small-txt-d9 {
                                    font-family: "Poppins", sans-serif;
                                    font-size: 18px;
                                    font-weight: 600;
                                    line-height: 27px;
                                  }

                                  .custom-center-zoom-out-slider-u4 {
                                    display: none;
                                  }

                                  .shopify-video-d9{
                                    height: 100%;
                                  }
                            .card-conten-d6 {
                              padding: 0 10px;
                          }
                          .pro-img-title {
                            display: flex;
                            gap: 10px;
                            color: #1B1B1B;
  font-family: Roboto;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
                        }
                          .review-product-d6 {
                            margin: 10px 0 0;
                            padding: 10px;
                            border-top: 1px solid rgba(27, 27, 27, 0.25);
                        }
                 .card-conten-d6 .ss-rating-main {
                    padding: 0 0 10px;
                }
                .pro-img-title img{
                  width: 100%;
                  max-width: 50px;
                  height: 50px;
                }
                                  @media(max-width: 768px) {
                                    .main-container-d9 {
                                      background: #fff;
                                    }
                                    .main-r-images-d9 {
                                      display: none;
                                    }
                                    .custom-center-zoom-out-slider-u4 {
                                      display: block;
                                    }
                                    .custom-center-zoom-out-slider-u4 {
                                      width: 100%;
                                      display: flex;
                                      padding: 0px 0 0px;
                                      flex-direction: column;
                                      justify-content: center;
                                      align-items: center;
                                      gap: 70px;
                                      overflow: hidden;
                                    }
                                    .custom-center-zoom-out-slider-u4-box-2 {
                                      width: 100%;
                                    }
                                    .carousel-container-custom {
                                      overflow: hidden;
                                      width: 100%;
                                    }
                                    .carousel-track-container-custom {
                                      overflow: hidden;
                                      width: 100%;
                                    }
                                    .carousel-track-custom {
                                      display: flex;
                                      transition: transform 0.5s ease;
                                      align-items: center;
                                    }
                                    .slide-custom {
                                      min-width: 33.33%;
                                      box-sizing: border-box;
                                      padding: 10px;
                                      transition: transform 0.3s ease;
                                    }
                                    .slide-custom.center-slide {
                                      transform: scale(1.1); /* Adjust the scale value as needed */
                                    }
                                    .button-container-custom {
                                      display: flex;
                                      justify-content: center;
                                      align-items: center;
                                      width: 100%;
                                      gap: 20px;
                                      gap: 8px;
                                      margin: 30px 0 0;
                                    }
                                    .button-container-custom button {
                                      background: transparent;
                                      cursor: pointer;
                                      display: flex;
                                      border: none;
                                      outline: none;
                                    }
                                    .carousel-button-left{
                                      transform: rotate(180deg);
                                    }
                                    .slide-number {
                                      font-size: 18px;
                                      font-weight: bold;
                                      color: #41441c;
                                    }
                                    .slide-custom {
                                      min-width: 40%;
                                      padding: 0;
                                      aspect-ratio: 285/488;
                                      overflow: hidden;
                                      display: flex;
                                      border-radius: 12px;
                                    }
                                    .top-heading-custom {
                                      font-size: 20px;
                                    }
                                    .sub-text-custom {
                                      font-size: 16px;
                                    }
                                    .slide-custom.current-center-slide {
                                      min-width: 50%;
                                      transform: translateX(-26%);
                                      justify-content: center;
                                    }
                                    .col-r-videos-d9 {
                                      max-width: 100%;
                                      width: 100%;
                                    }
                                    .slide-custom:has(+ .current-center-slide) {
                                      transform: translateX(-33%);
                                    }
                                    .current-center-slide + .slide-custom {
                                      transform: translateX(-33%);
                                    }
                                    .r-conten-d9 {
                                      bottom: 26.99px;
                                    }
                                    .r-conten-d9 p.large-txt-d9{
                                      font-size: 16px;
                                      line-height: 18.72px;
                                    }
                                    .r-conten-d9 p.small-txt-d9{
                                      font-size: 14px;
                                      line-height: 21px;
                                    }
                                  }
</style>
<style>
           .reviews-heading-d6 {
             width: 100%;
             max-width: 1220px;
             margin: 0 auto;
             padding: 0 20px;
         }
         .sec-reviews-d6 {
           margin: 40px 0 0 0;
       }
      .reviews-heading-d6 h2 {
         color: #1B1B1B;
         font-family: "Tenor Sans";
         font-size: 32px;
         font-style: normal;
         font-weight: 400;
         line-height: normal;
     }
       .reviews-heading-d6 p{
         color: #1B1B1B;
         font-family: Roboto;
         font-size: 14px;
         font-style: normal;
         font-weight: 300;
         line-height: 20px; /* 142.857% */
         margin: 12px 0 0;
       }
     .sec-reviews-d6 p{
       color: #626161;
       font-family: Roboto;
       font-size: 16px;
       font-style: normal;
       font-weight: 400;
       line-height: 20px; /* 125% */
       padding: 5px 0 0;
       }
     .card-conten-d6 .ss-total-rating{
       display: none;
     }
    .reviews-heading-d6 p.ss-av-rating{
       display: none;
     }
    @media (max-width: 768px){
      .sec-reviews-d6 {
      margin: 20px 0 0 0;
  }
    }
</style>
