.general-media-v1 {
  overflow: hidden;
  position: relative;
  height: 100%;
}
.general-media-v1 img,
.general-media-v1 video {
  width: 100%;
  height: 100%;
}
.general-media-v1 button {
  position: absolute;
  z-index: 2;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 25px;
  height: 25px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}
.general-media-v1 .active-video-v1 {
  opacity: 0;
}
.general-media-v1:hover .active-video-v1 {
  opacity: 1;
}
.play-pause-ss-v1 .pause-svg-v1 {
  display: none;
}
